.root {
  width: 100%;
  scroll-margin-top: 136px;
  margin-top: 120px;
  z-index: 1;
}

.title {
  composes: blockTitle from '@/shared/styles/base.module.css';
  margin-bottom: var(--spacing-xxl);
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.empty {
  color: var(--color-text-secondary);
  font-size: 14px;
}

@media (max-width: 799px) {
  .root {
    margin-top: 100px;
    margin-bottom: var(--spacing-xl);
  }
}
