.root {
  position: absolute;
  z-index: 0;
  display: block;
  pointer-events: none;
  width: 2930px;
  height: 3655px;

  top: -130px;
  left: 50%;
  transform: translateX(calc(-50% - 120px));
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

@media (max-width: 799px) {
  .root {
    height: 3809px;
    width: 402px;

    top: 40px;
    transform: translateX(-50%);
  }
}
